* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f3d7;
}

#palindroma {
    margin: 100px 0;
    font-size: 32px;
}